DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Tehran

POSTGRES_DB=porfacan
POSTGRES_USER=porfacan
POSTGRES_PASSWORD=porfacan
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/2

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=eu-central-1

ARWEAVE_GATEWAY_URL=https://arweave.net
ARWEAVE_WALLET_PATH=
